@model Hospital.Models.Cita

@{
    ViewData["Title"] = "Create";
}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>

<script>
   $(document).ready(function () {
        console.log("HOla JS")
        $('#dia').on('change', function(){
            var seleccion = $(this).val();
            console.log("valor", seleccion)
        })
       
    })
</script>


<h1>Create</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div id='calendario'></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Consultorio" class="control-label"></label>
                <input asp-for="Consultorio" class="form-control" />
                <span asp-validation-for="Consultorio" class="text-danger"></span>
            </div> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pagado" /> @Html.DisplayNameFor(model => model.Pagado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
               <select name="Dia" id="Dia">
                    @foreach (var horario in ViewBag.HorarioDoctor)
                    {
                        <option>@horario.DiaSemana</option>
                       
                    }
                </select>
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div

            <div id="Horario">
                 <input name="Hora"/>
            </div>
           @* <div class="form-group">
                <label asp-for="ID_Doctor" class="control-label"></label>
                <select asp-for="ID_Doctor" class ="form-control">
                    @foreach (var Doctor in ViewBag.NombreDoctor)
                    {
                        <option>@Doctor.Usuario.Nombre</option>
                    }
                </select>
            </div>*@
          
             <div class="form-group">
                <label asp-for="ID_Receta_Medica" class="control-label"></label>
                <select asp-for="ID_Receta_Medica" class ="form-control" asp-items="ViewBag.ID_Receta_Medica"></select>
            </div> 
            <div class="form-group">
                <label asp-for="ID_Paciente" class="control-label"></label>
                <select asp-for="ID_Paciente" class="form-control">
                    @foreach(var Paciente in ViewBag.NombrePaciente)
                    {
                        <option>@Paciente.Usuario.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


